 <!DOCTYPE html>
 <html lang="en">
 <head>
 	<meta charset="UTF-8">
 	<title>Upload image</title>
 </head>
 <body>
 	<h3>Form</h3>
 	<form method="post" enctype="multipart/form-data">
 	  <input type="hidden" name="MAX_FILE_SIZE" value="50000" />
 	  Image (< 50kb): <input type="file" name="upload" /><br/>
 	  ClientID: <input type="text" name="clientid" /><br/>
 	  <input type="submit" value="Upload to Imgur" />
 	</form>
 </body>
 </html>
